/*portada*/

.blog-container-cover {
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.blog-container-cover::before {
    content: '';
    width: 100%;
    height: 100%;
    background: #136a8a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #267871, #136a8a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #267871, #136a8a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    top: 0;
    left: 0;

}

.container-info-cover {
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1 {
    font-size: 60px;
    font-weight: 500;
    color: #022730;
    margin-bottom: 20px;
}

.container-info-cover P{
    color: #afabab;
}

/*Contenedor de categoria*/
input[type="radio"] {
    display: none;

}

.container-category {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.container-category label {
    padding: 6px 40px;
    margin: 10px;
    font-size: 20px;
    background: #e2e2e2;
    border-radius: 5px;
    cursor: pointer;
}

.container-category label:hover {
    opacity: 0.9;
}

/*post - publicaciones*/

.container-post {
    max-width: 1200px;
    margin: auto;
}

.posts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    margin-top: 20px;
    padding: 20px;
}

.posts .post {

    background: #b7b9bd;
    box-shadow: 0 0 20px -20px rgb(241, 241, 241);
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 20px;
}

.posts .post .ctn-img {
    width: 100%;
}

.posts .post .ctn-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post h2 {
    font-size: 18px;
    margin-top: 20px;
    padding: 0 20px;
}

.post span {
    display: block;
    margin-top: 10px;
    padding: 0px 20px;
}

.ctn-tag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top: 10px;

}

.ctn-tag li {
    list-style: none;
    font-size: 14px;
    margin: 4px;
    padding: 6px 10px;
    color: #ffffff;
    background: #122cbfb5;
    cursor: default;
}

.post button {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: #1260cdc1;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.post button:hover {
    opacity: 0.9;
}

/*encavezado de filtrado*/
.container-aviso-titulo h1 {
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: center;
    color: #101010;
}

/*aviso de los blog*/
.container-aviso-titulo H2 {
    width: 100%;
    padding: 4px;
    display: flex;
    justify-content: center;
    color: #000000;
}

/*sistema de filtrado*/

[value="TODOS"]:checked~.posts .post[data-caregory] {
    display: none;
    background: #2aa63b;
    color: #fff;
}

[value="TODO"]:checked~.posts .post:not([data-category~="TODO"]),
[value="1"]:checked~.posts .post:not([data-category~="1"]),
[value="2"]:checked~.posts .post:not([data-category~="2"]),
[value="3"]:checked~.posts .post:not([data-category~="3"]),
[value="4"]:checked~.posts .post:not([data-category~="4"]),
[value="5"]:checked~.posts .post:not([data-category~="5"]),
[value="6"]:checked~.posts .post:not([data-category~="6"]),
[value="7"]:checked~.posts .post:not([data-category~="7"]),
[value="8"]:checked~.posts .post:not([data-category~="8"]) {
    display: none;
}


[value="TODOS"]:checked~.container-category [for="TODOS"],
[value="1"]:checked~.container-category [for="1"],
[value="2"]:checked~.container-category [for="2"],
[value="3"]:checked~.container-category [for="3"],
[value="4"]:checked~.container-category [for="4"],
[value="5"]:checked~.container-category [for="5"],
[value="6"]:checked~.container-category [for="6"],
[value="7"]:checked~.container-category [for="7"],
[value="8"]:checked~.container-category [for="8"] {

    background: #0953bbce;
    color: #ffffff;
}

@media screen and (max-width: 1200px) {
    .posts {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 580px) {
    .posts {
        grid-template-columns: repeat(1, 1fr);
    }
}