*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-family: 'Source Serif 4', serif;
}

body{
    background: #00000054;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}


.header-content   {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo h1 b {
    color: #1f5cacc1;
    justify-content: center;
}


.menu {
    height: 80px;
}

.menu nav {
    height: 100%;
}

.menu nav ul {
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li {
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-selected:before {
    content: '';
    width: 100%;
    height: 4px;
    background: #46a2fd;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a {
    color: #636c70;
    font-size: 18px;
    transform: color 300ms;
}

.menu nav ul li a:hover {
    color: #46a2fd;
}

.menu .text-menu-selected {
    color: #46a2fd;
}
.menu nav ul li a i{
    display: none;
}

#icon-menu {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #eeeeeefa;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

#icon-menu:hover {
    opacity: 0.8;
    /*background: #f2f2f2f2;*/


}



/*fooder - pie de pagina*/
.container-footer {
    width: 100%;
    padding: 40px 0;
    background: #a6a3a3aa;
    margin-top: 40px;
}

.container-footer footer {
    max-width: 1200px;
    margin: auto;

}

.LOGO-footer{
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-footer footer.LOGO-footer {
    text-align: center;

}


.container-footer footer .LOGO-footer img {
    width: 100px;
}

.container-footer footer .redes-fooder {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-footer footer .redes-fooder .icon-redes-footer {
    font-size: 20px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #000000;
}

.container-footer footer .redes-fooder .fa-facebook-f:hover {
    background: #1077c1;
    color: #fff;
}

.container-footer footer .redes-fooder .fa-linkedin-in:hover {
    background: #41579A;
    color: #fff;
}

.container-footer footer .redes-fooder .fa-twitter:hover {
    background: #09a4dd;
    color: #fff;
}

.container-footer footer hr {
    margin: top 20px;
    ;
    border: none;
    height: 2px;
    background: #0101017a;
}

.container-footer h4 {
    text-align: center;
    margin-top: 40px;
    color: #000000;
    font-weight: 500px;
}

/*Responsive design - adaptable a dispositivos moviles*/
@media screen and (max-width:1220px) {

    .header-content,
    .container-footer .fooder {
        max-width: 1000px;
        padding: 0 20px;
    }
}

@media screen and (max-width:1020px) {
    .container-content {
        width: 100%;
        flex-direction: column;
    }

    article {
        box-shadow: 0 0 0 0;
    }

    .container-aside {
        display: flex;
        justify-content: center;
    }

    .container-aside aside {
        max-width: 300px;
        margin: 10px;

    }
}

@media screen and (max-width:800px) {

    body{
        overflow-x: hidden;
    }

    .container-all{
        transition: all 500ms cubic-bezier(1, 0, 0, 1);
    }

.move-container-all{
    transform: translateX(300px);
}

    .menu {
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #fff;
        overflow: hidden;
        transform: translateX(-300px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 500ms cubic-bezier(1, 0, 0, 1);
    }

    .show-leteral{
    width: 300px;
    transform: translateX(0px);
    }

    .menu nav ul {
        flex-direction: column;

    }

    .menu nav ul li {
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before {
        width: 0;

    }

    .menu nav ul li a {
        margin-top: 40px;
        color: #858585;
        /*width: 20px;*/

    }
    #icon-menu{
        display: flex;
    }

    .menu nav ul li a i {
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #46a2fd;
    }

    .container-aside{
        flex-wrap: wrap;
    }
}/*portada*/

.Tutorial-container-cover {
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background: #0f6784;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.Tutorial-container-cover::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(25, 81, 235, 0.30);
    position: absolute;
    top: 0;
    left: 0;

}

.container-info-cover {
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-container-cover h1 {
    font-size: 60px;
    font-weight: 500;
    color: #0e0d0d;
    margin-top: 20px;

}

.container-info-cover p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}



/*encavezdo*/
.container-info-cor h1 {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    color: #0e0d0d;
}

.container-info-enlace {
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;

}

article {
    width: 100%;
    padding: 20px;
    padding: bottom 40px;
    box-shadow: -10px 0 20px -30px black;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    background: #bdbcb7;

}

article::before {
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: #2599b9;
}

article h6 {
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

article p {
    margin-top: 20px;
    font-size: 18px;
    color: #323e54;
}

article img {
    width: 100%;
    position: relative;



}

.container-aside aside {
    width: 320px;
    border-right: 6px;
    box-shadow: 0 0 20px -20px black;
    border-radius: 6px;
    overflow: hidden;
    margin-left: 40px;
    margin-bottom: 40px;
    background: #b7bcbd;
}



@media screen and (max-width:1220px) {

    
    .container-info-enlace{
        max-width: 1000px;
        padding: 0 20px;
    }
}

@media screen and (max-width:1020px) {
    .container-info-enlace {
        width: 100%;
        flex-direction: column;
    }

    article {
        box-shadow: 0 0 0 0;
    }



}




